.hero {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4)),
      url(../images/Img-backround-hero.jpg);
    padding-bottom: 200px;
    padding-top: 200px;
  }
  
