.site-nav__logo {
    font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--blue-text-color);
    text-decoration: none;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    margin-right: 94px;
  }
  .page-footer__logo {
    font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--blue-text-color);
    text-decoration: none;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
  }
  
  .site-nav__blue {
    color: var(--blue-text-color);
  }
  
  .site-nav__black {
    color: var(--first-text-color);
  }
  
  .page-footer__white {
    color: var(--white-text-color);
  }
  .page-footer__blue {
    color: var(--blue-text-color);
  }