.name-thumb {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
  }
  .name-thumb:focus {
    border-color: #2196f3;
  }
  .stroke-thumb {
    margin-bottom: 10px;
  }
  .stroke-name-thumb {
   position: relative;
   display: block;
  }
  .stroke-name {
    padding-left: 42px;
    outline: none;
    width: 100%;
    height: 40px;
    left: 576px;
    top: 314px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
  }
  .stroke-name-text {
    padding: 12px;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
  }
  .stroke-name-text:hover {
    border-color: #2196f3;
  }
  .stroke-name-text:focus {
    border-color: #2196f3;
  }
  .stroke-name:hover {
   border-color: #2196F3;
  }
  .stroke-name:focus {
    border-color: #2196f3;
  }
  .name-icon {
    left: 12px;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
  }
  .stroke-name:hover + .name-icon {
  fill: #2196F3;
  }
  .stroke-name:focus + .name-icon {
    fill: #2196f3;
    border-color: #2196F3;
  }
  textarea {
    width: 448px;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
  }
  
  .rules {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-left: 5px;
    color: #2196f3;
  }
  .input-check:checked + .check-text span {
    background-color: #2196F3;
    border: none;
  }
  .input-check:checked + .check-text .check-icon {
    fill:var(--white-text-color)
   }
  .check-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .check-text span {
    width: 16px;
    height: 15px;
    border: 1px solid #757575;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .check-icon {
    fill: transparent;
  }
  
  .text-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .modal-button-input {
    display: block;
    width: 200px;
    height: 50px;
    color:#FFFFFF;
    background-color: #2196f3;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform:translate(0%, -50%)rotate(0);
  }
  .modal {
    width: 528px;
    padding: 40px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%)rotate(360deg);
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-close-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 521px;
    height: 581px;
    transform: scaleX(0);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-button:hover::after {
    transform: scaleX(1);
  }
  .icon-close {
    width: 18px;
    height: 18px;
    fill: #212121;
  }
  .modal-close-button:hover .icon-close {
  fill: #2196F3;
  }
  .modal-close-button:focus .icon-close {
    fill: #2196F3;
  }