.page-body {
    background-color: var(--white-text-color);
    font-family: 'Roboto';
    color: var(--first-text-color);
  }

  .section-padding-top {
    padding-top: 94px;
  }
  .section {
    padding-bottom: 94px;
  }
